.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    height: 600px;
}



.yellow {
    background-color: yellow;
    color: indianred;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact;
    font-stretch: ultra-expanded;
    font-size: 300px;
}

.red {
    background-color: indianred;
    color: yellow;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact;
    font-stretch: ultra-expanded;
    font-size: 300px;
}

button {
    align-self: center;
}

.buttons {
    position: absolute;
    left: 45%;
}

.timerDisable {
    position: absolute;
    left: 28%;
    top: 25%;
    z-index: 35;
    width: 600px;
    height: 400px;
    background-color: azure;
    text-align: center;
    padding-top: 190px;
    box-sizing: border-box;
    display: none;
}

.timer {
    position: absolute;
    left: 28%;
    top: 25%;
    z-index: 35;
    width: 600px;
    height: 400px;
    background-color: azure;
    text-align: center;
    padding-top: 190px;
    box-sizing: border-box;
}

.timerYellow {
    position: absolute;
    left: 28%;
    top: 25%;
    z-index: 35;
    width: 600px;
    height: 400px;
    background-color: yellow;
    text-align: center;
    padding-top: 190px;
    box-sizing: border-box;
    border: solid 5px black;
}

.timerRed {
    position: absolute;
    left: 28%;
    top: 25%;
    z-index: 35;
    width: 600px;
    height: 400px;
    background-color: indianred;
    text-align: center;
    padding-top: 190px;
    box-sizing: border-box;
    border: solid 5px black;
}

.remove {
    margin-left: 28px;
}

